# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that.

title: Danai Georgia Sakelliadou
email: dgsakelliadou@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  MD/Computational Neuroscientist, Postdoc @ MIT Picower
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://dgsakelliadou.github.io" # the base hostname & protocol for your site
github_username:  dgsakelliadou

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

# Single page configuration
header_pages: []  # This removes navigation menu

# Exclude from processing.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
